.image-container {
  position: relative;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.image {
  width: 150px;
  height: auto;
  transition: transform 1s ease, opacity 0.5s ease;
}

.move-lava {
  transform: translateX(150%);
  opacity: 0;
}

.move-water {
  transform: translateX(-150%);
  opacity: 0;
}

.obsidian {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease;
  width: 150px;
}

.show-obsidian {
  opacity: 1;
}
